body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Main stopwatch screen */
#stopwatch-card {
    width: 200px;
    height: 170px;
    background-color: lightblue;
    text-align: center;
    line-height: 50px;
}

/* timer display */
#timer{
    margin: 10px;
    background-color: azure;
    font-size: large;
    font-weight: 800;
    color:rgb(184, 21, 162) ;
}

/* buttons */
#buttons{
    background-color: blanchedalmond;
}

#startBtn{
    background-color: greenyellow;
}